.loadingMask {
  position: absolute;
  z-index: 20;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text);

  background-color: var(--bg);

  animation: loadingMaskFadeIn 300ms;

  & p {
    font-size: 1.5em;
    animation: loadingMaskBlink 1.5s infinite;
  }
}

@keyframes loadingMaskFadeIn {
  from {
    opacity: 0;
  }
}

@keyframes loadingMaskBlink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.2;
  }
}
